<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <model>Wind</model>
    <method>python</method>
    <location>Models.Wind.wind_mosaik:WindSim</location>
  </row>
  <row>
    <index>1</index>
    <model>PV</model>
    <method>python</method>
    <location>Models.PV.pv_mosaik:PvAdapter</location>
  </row>
  <row>
    <index>2</index>
    <model>Load</model>
    <method>python</method>
    <location>Models.Load.load_mosaik:loadSim</location>
  </row>
  <row>
    <index>3</index>
    <model>Collector</model>
    <method>python</method>
    <location>Models.collector:Collector</location>
  </row>
  <row>
    <index>4</index>
    <model>CSVB</model>
    <method>python</method>
    <location>Models.mosaik_csv:CSV</location>
  </row>
  <row>
    <index>5</index>
    <model>ElectricityNetwork</model>
    <method>python</method>
    <location>Models.Elenetwork.electricity_network_mosaik:electricitynetworkSim</location>
  </row>
  <row>
    <index>6</index>
    <model>Battery</model>
    <method>python</method>
    <location>Models.Battery.battery_mosaik:BatteryholdSim</location>
  </row>
  <row>
    <index>7</index>
    <model>Electrolyser</model>
    <method>python</method>
    <location>Models.Electrolyser.electrolyser_mosaik:ElectrolyserSim</location>
  </row>
  <row>
    <index>8</index>
    <model>H2storage</model>
    <method>python</method>
    <location>Models.H2storage.h2storage_mosaik:compressedhydrogen</location>
  </row>
  <row>
    <index>9</index>
    <model>Fuelcell</model>
    <method>python</method>
    <location>Models.Fuelcell.fuelcell_mosaik:FuelCellSim</location>
  </row>
  <row>
    <index>10</index>
    <model>H2Network</model>
    <method>python</method>
    <location>Models.H2network.gas_network_mosaik:gasnetworkSim</location>
  </row>
  <row>
    <index>11</index>
    <model>H2product</model>
    <method>python</method>
    <location>Models.H2product.h2product_mosaik:h2productSim</location>
  </row>
  <row>
    <index>12</index>
    <model>H2demand</model>
    <method>python</method>
    <location>Models.H2demand.h2demand_mosaik:h2demandSim</location>
  </row>
  <row>
    <index>13</index>
    <model>HeatNetwork</model>
    <method>python</method>
    <location>Models.Heatnetwork.heat_network_mosaik:heatnetworkSim</location>
  </row>
  <row>
    <index>14</index>
    <model>HeatStorage</model>
    <method>python</method>
    <location>Models.Heatstorage.qstorage_mosaik:heatstorageSim</location>
  </row>
  <row>
    <index>15</index>
    <model>Heatproduct</model>
    <method>python</method>
    <location>Models.Heatproduct.qproduct_mosaik:qproductSim</location>
  </row>
  <row>
    <index>16</index>
    <model>Heatdemand</model>
    <method>python</method>
    <location>Models.Heatdemand.qdemand_mosaik:qdemandSim</location>
  </row>
  <row>
    <index>17</index>
    <model>HeatPump</model>
    <method>python</method>
    <location>Models.Heatpump.heatpump.Heat_Pump_mosaik:HeatPumpSimulator</location>
  </row>
  <row>
    <index>18</index>
    <model>Eboiler</model>
    <method>python</method>
    <location>Models.Eboiler.eboiler_mosaik:eboilerSim</location>
  </row>
  <row>
    <index>19</index>
    <model>Qvalve</model>
    <method>python</method>
    <location>Models.Valves.qvalve_mosaik:qvalveSim</location>
  </row>
  <row>
    <index>20</index>
    <model>H2Valve</model>
    <method>python</method>
    <location>Models.Valves.h2valve_mosaik:h2valveSim</location>
  </row>
</data>