<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <model>Wind</model>
    <method>python</method>
    <location>Models.Wind.wind_mosaik:WindSim</location>
  </row>
  <row>
    <index>1</index>
    <model>PV</model>
    <method>python</method>
    <location>Models.PV.pv_mosaik:PvAdapter</location>
  </row>
  <row>
    <index>2</index>
    <model>Load</model>
    <method>python</method>
    <location>Models.Load.load_mosaik:loadSim</location>
  </row>
  <row>
    <index>3</index>
    <model>Collector</model>
    <method>python</method>
    <location>Models.collector:Collector</location>
  </row>
  <row>
    <index>4</index>
    <model>CSVB</model>
    <method>python</method>
    <location>Models.mosaik_csv:CSV</location>
  </row>
  <row>
    <index>5</index>
    <model>Controller</model>
    <method>python</method>
    <location>Controllers.ResidentialController.controller_mosaik:controlSim</location>
  </row>
  <row>
    <index>6</index>
    <model>Battery</model>
    <method>python</method>
    <location>Models.Battery.battery_mosaik:BatteryholdSim</location>
  </row>
  <row>
    <index>7</index>
    <model>Electrolyser</model>
    <method>python</method>
    <location>Models.Electrolyser.electrolyser_mosaik:ElectrolyserSim</location>
  </row>
  <row>
    <index>8</index>
    <model>H2storage</model>
    <method>python</method>
    <location>Models.H2storage.h2storage_mosaik:compressedhydrogen</location>
  </row>
  <row>
    <index>9</index>
    <model>Fuelcell</model>
    <method>python</method>
    <location>Models.Fuelcell.fuelcell_mosaik:FuelCellSim</location>
  </row>
</data>