appdirs==1.4.4
arandr==0.1.10
argparse==1.4.0
arrow==1.2.2
astroid==2.5.1
asttokens==2.0.4
async-generator==1.10
attrs==21.4.0
automationhat==0.2.0
beautifulsoup4==4.9.3
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
cap1xxx==0.1.3
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorzero==1.1
cryptography==3.3.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
demjson==2.2.4
distro==1.5.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.16
drumhat==0.1.0
envirophat==1.0.0
explorerhat==0.4.2
flask==1.1.2
fonttools==4.33.3
fourletterphat==0.1.0
gitdb==4.0.10
gitpython==3.1.31
gpiozero==1.6.2
h11==0.13.0
html5lib==1.1
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
jedi==0.18.0
jinja2==2.11.3
jtutils==0.0.8
kiwisolver==1.4.2
lazy-object-proxy==0.0.0
leven==1.0.4
llvmlite==0.38.1
logilab-common==1.8.1
lxml==4.6.3
markupsafe==1.1.1
matplotlib==3.5.2
mccabe==0.6.1
microdotphat==0.2.1
mosaik-api==3.0.2
mosaik-csv==1.2.0
mosaik-pandapower==0.2.0
mosaik-simpy-io==0.2.4
mosaik-web==0.4.0
mosaik==3.0.2
mote==0.0.4
motephat==0.0.3
mypy-extensions==0.4.3
mypy==0.812
networksim==0.2.2
networkx==2.8.3
nose==1.3.7
numba==0.55.2
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
outcome==1.1.0
packaging==21.3
pandapower==2.9.0
pandas==1.4.2
pantilthat==0.0.7
parso==0.8.1
pathtools==0.1.2
pexpect==4.8.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
piglow==1.2.5
pigpio==1.78
pillow==8.1.2
pip==20.3.4
protobuf==4.23.2
psutil==5.8.0
pycairo==1.16.2
pycups==2.0.1
pygame==1.9.6
pygments==2.7.1
pygobject==3.38.0
pyinotify==0.9.6
pyjwt==1.7.1
pylint==2.7.2
pyopenssl==20.0.1
pyparsing==3.0.9
pyserial==3.5b0
pysmbc==1.0.23
pysocks==1.7.1
python-apt==2.2.1
python-csv==0.0.13
python-dateutil==2.8.2
python-math==0.0.1
pytz==2022.1
pyyaml==6.0
rainbowhat==0.1.0
reportlab==3.5.59
requests-oauthlib==1.0.0
requests==2.25.1
responses==0.12.1
roman==2.0.0
rpi.gpio==0.7.0
rtimulib==7.2.1
scipy==1.8.1
scrollphat==0.0.7
scrollphathd==1.2.1
seaborn==0.11.2
selenium==4.2.0
send2trash==1.6.0b1
sense-hat==2.2.0
sentry-sdk==1.25.1
setproctitle==1.3.2
setuptools==52.0.0
simplejson==3.17.2
simpy.io==0.2.3
simpy==3.0.13
six==1.16.0
skywriter==0.0.7
smmap==5.0.0
sn3218==1.2.7
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spidev==3.5
ssh-import-id==5.10
thonny==3.3.14
tk==0.1.0
toml==0.10.1
touchphat==0.0.1
tqdm==4.64.0
trio-websocket==0.9.2
trio==0.21.0
twython==3.8.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
unicornhathd==0.0.4
urllib3==2.0.3
wandb==0.15.4
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.34.2
wrapt==1.12.1
wsproto==1.1.0
xlrd==2.0.1
xmltodict==0.13.0