Sphinx>=7.4.7
myst-parser>=3.0.1
sphinx-copybutton>=0.5.2
sphinx-rtd-theme>=2.0.0
nbsphinx>=0.9.5
arrow>=1.4.0
lxml>=6.1.1
matplotlib>=3.10.9
paho-mqtt>=2.1.0
pandas>=3.0.3
mosaik>=3.6.0
ruamel.yaml>=0.19.1
schema>=0.7.7
pandoc>=2.4.0
jupyterlab>=4.3.0
