name: Start docs update for website # Name of the whole Action. However when the job runs on github it will take the name of last Commit message.

on: # run ON
  push: # a PUSH action
    branches: # on the branch:
      - main
  workflow_dispatch: # a MANUAL START action and on ANY branch since its NOT defined.


jobs: # The list of jobs to run
  autorun_workflow: # Name of job (you will actually see this on github when you investigate the job)
    runs-on: ubuntu-latest # What OS to use when running commands
    steps:
      - name: Running workflow #Name of the current set of commands (also visible on github)
        run: | # Run a CURL (Client for URLs) command specifically for the given repository's documentation_build.yml (the actual action we want to start), using the secret token WEBSITE_ACTION_TOKEN as authorization
            curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.WEBSITE_ACTION_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/Illuminator-team/website/actions/workflows/documentation_build.yml/dispatches \
            -d '{"ref":"main"}'